# Environment variables
.env

# Model file
student_pipe

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db